
.login{
    background-color: rgba(225, 234, 238, 0.637);
    margin-left: 0px;
    border-radius: 10px;
    margin-bottom: 2px !important;padding-bottom: 1px;
}
.login-conteinar{
    /* text-align: center; */
    
    width: 30%;
    text-align: center;
    padding-right: 8px;
    padding-left: 2px;
}
.login-img{
    width: 600px;
    height: 73%;
    padding-left: 0px !important;
    margin-left: 0px !important;
    border-start-start-radius: 10px;
    border-end-start-radius: 10px ;
}

.btn-regular{
    margin-right: 20px;
    background-color: #2fa7b8;
    padding: 10px 22px;
    font-weight: 600;
    font-size: 17px;
    border: 0px solid #2fa7b8;
    border-radius: 4px;
    color: white;
}

.account{
    padding-top: 30px;
}
.account a{
    text-decoration: none;
}


@media only screen and (max-width:688px) {
    
}