.not-found img{
    margin-top: 200px;
    margin-bottom: 20px;
}
.details-btn{
    padding: 10px 22px;
    font-weight: 600;
    font-size: 17px;
    border: 2px solid #2fa7b8 ;
    border-radius: 25px;
    color: #2fa7b8;
    margin-top: 15px;
    margin-bottom: 55px;

}
.details-btn:hover{
    background-color: #168d9e;
    color: white;
}
.details-btn:focus{
    background-color: #168d9e;
    color: white;
}