.doctor{
    border: 3px solid rgb(160, 159, 159);
    height: 97px;
    width: 113px;
    /* margin-bottom: 0px !important; */
}

.search-btn{
    background-color: #2fa7b8 !important;
    color: whitesmoke;
    border: 0px solid #2fa7b8;
}
.search-btn:hover{
    border: 2px solid #168d9e;
    background-color: #168d9e;
}
.footer-container{
    background-color: rgba(59, 61, 66, 0.808);
    color: whitesmoke;
}
.footer-body{
    padding-top: 15px;
}
.footer{
    background-color: rgb(22, 21, 21);
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
    padding-left: 50px;
    margin-top: 25px;
}
.social-site a{
    padding-right: 20px;
    color: whitesmoke;
    font-size: 25px;
    margin-right: 10px;
}