.specialist-banner{
    background-image: url("https://i.ibb.co/kH8MQRp/New-Project-11.png");
    width: 100%;
    height: 350px;
    margin-bottom: 80px;
    margin-top: 127px;
    border-top: 6px solid #35c9ddfd;
    border-bottom: 6px solid #35c9ddfd;
}
.title{
    text-align: left;
    margin-left: 40px;
    margin-top: 13px;
    padding-top: 150px;
    color:black;
}
.our-title{
    font-weight: 400;
    font-size: 40px;
}
.specialist-title{
    font-weight: bold;
    font-size: 50px;color: rgb(20, 20, 20);
    margin-bottom: 150px;
}